<!-- Favicons -->
<link rel="apple-touch-icon" href="/static/assets/img/favicons/apple-touch-icon.png"/>
<link rel="icon" href="/static/assets/img/favicons/favicon.ico"/>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
<link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/static/assets/vendor/venobox/venobox.css" rel="stylesheet">
<link href="/static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">

<!-- AppUI CSS stylesheets -->
<link rel="stylesheet" id="css-font-awesome" href="/static/assets/css/font-awesome.css" />
<link rel="stylesheet" id="css-ionicons" href="/static/assets/css/ionicons.css" />
<link rel="stylesheet" id="css-bootstrap" href="/static/assets/css/bootstrap.css" />
<link rel="stylesheet" id="css-app" href="/static/assets/css/app.css" />
<link rel="stylesheet" id="css-app-custom" href="/static/assets/css/app-custom.css" />

<!-- Template Main CSS File -->
<link href="/static/assets/css/style.css" rel="stylesheet">

<link rel="stylesheet" href="/static/assets/js/plugins/slick/slick.min.css"/>
<link rel="stylesheet" href="/static/assets/js/plugins/slick/slick-theme.min.css"/>


