{% load cms %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{{ site_name }}</title>
    {% include "default/include/common.html" %}
	<link href="/static/assets/vendor/venobox/venobox.css" rel="stylesheet">
</head>
<body>
<div class="app-layout-canvas">
    <div class="app-layout-container">
        {% include "default/include/header.html" %}
        <main class="app-layout-content">
			<figure class="banner bg-img bg-inverse probootstrap-cover hidden-sm hidden-xs" data-height="300" style="background-image: url({{category_top.img.url}})">
				<figcaption class="banner-caption">
					<div class="container text-center">
						<div class="display-1 m-b text-black"></div>
					</div>
				</figcaption>
			</figure>
			<figure class="banner bg-img bg-inverse probootstrap-cover hidden-lg hidden-md" data-height="100" style="background-image: url({{category_top.img.url}})">
				<figcaption class="banner-caption">
					<div class="container text-center">
						<div class="text-lg m-b"></div>
					</div>
				</figcaption>
			</figure>
            <div class="bg-white">
                <div class="container p-b-lg" id="Container">
                    {% with article.category.hash_id|category_list as category_list %}
                        <div class="artInfo p-t-md">所在位置：<a href="/">首页</a> {% for foo in category_list %}
                            > <a href="{{ foo|get_link }}">{{ foo.title }}</a>
                        {% endfor %}
                        </div>
                    {% endwith %}
                    <div id="Container" class="b-t">
						<h1>{{ article.title }}</h1>
						<div class="artInfo text-center p-y">
						    {% if article.author %}
								<span>来源：{{ article.author }}</span>
							{% endif %} 
						    <span>浏览数： {{ article.num }}</span>
						    <span>发布日期：{{ article.show_time|date:"Y-m-d" }}</span>
						</div>
						<div class="ContainerCon">
							{{ article.body|safe }}
						</div>
						<div class="row p-t-md">
							{% for foo in album %}
							<div class="col-lg-3 col-6">
								<div class="card por portfolio-item" style="height: 320px;">
									<div class="photo-item">
										<a href="{{ foo.img|resize:'1000x600' }}" data-gall="portfolioGallery" class="venobox" title="{{ foo.title }}">
											<img class="img-responsive" src="{{ foo.img|resize:'300x300' }}" />
										</a>
									</div>
									<div class="card-block">
										<div class="text-df m-b">{{ foo.title }}</div>
										<p class="text-cut clamp3">{{ foo.description }}</p>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
                    </div>
                    <div class="list-unstyled m-t-lg p-y flex justify-between b-t">
                        <div>
                            {% with article|nearby:'before' as before %}
                                {% if before %}
                                    <div class="btn btn-default btn-lg flex align-center"><a href="{{ before|get_link }}"><i class="fa fa-angle-left m-r"></i><span class="hidden-sm hidden-xs">{{ before.title }}</span></a></div>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div>
                            {% with article|nearby:'after' as after %}
                                {% if after %}
                                    <div class="btn btn-default btn-lg flex align-center"><a href="{{ after|get_link }}"><span class="hidden-sm hidden-xs">{{ after.title }}</span><i class="fa fa-angle-right m-l"></i></a></div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include "default/include/footer.html" %}
    </div>
</div>

<script src="/static/assets/vendor/venobox/venobox.min.js"></script>
<script>
	$(document).ready(function() {
	  $('.venobox').venobox();
	});
</script>
</body>
</html>