{% load cms %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{{ static.site_name }}</title>
    {% include "default/include/common.html" %}
</head>
<body>
{% include "default/include/header.html" %}
<main>
	<figure class="banner bg-img bg-inverse probootstrap-cover hidden-sm hidden-xs" data-height="300" style="background-image: url({{category_list.img.url}})">
		<figcaption class="banner-caption">
			<div class="container text-center">
				<div class="display-1 m-b text-black"></div>
			</div>
		</figcaption>
	</figure>
	<figure class="banner bg-img bg-inverse probootstrap-cover hidden-lg hidden-md" data-height="100" style="background-image: url({{category_top.img.url}})">
		<figcaption class="banner-caption">
			<div class="container text-center">
				<div class="text-lg m-b"></div>
			</div>
		</figcaption>
	</figure>
	<div class="p-b-xl bg-white">
		<div class="container">
			{% with category_list.hash_id|category_list as category_list %}
				<div class="artInfo p-y-md">所在位置：<a href="/">首页</a> {% for foo in category_list %}
					> <a href="{{ foo|get_link }}">{{ foo.title }}</a>
				{% endfor %}
				</div>
			{% endwith %}
			<div class="solid-bottom p-t-xs p-b-md">
				<h3 class="text-bold">{{ category_list.title }}</h3>
			</div>
			<div class="clearfix">
				<div class="row p-t-md">
					{% for item in articles %}
					<div class="col-xs-6 col-sm-6 col-lg-3 m-b-sm">
						<div class="card-frame">
							<div class="m-b-0 text-center">
								<img class="img-responsive" src="{{ item.img|resize:'228x100' }}" style="margin: auto;" alt="{{ item.title }}"/>
							</div>
						</div>
						<div class="card-block">
							<div class="text-df m-b text-center">{{ item.title }}</div>
							<p class="text-cut clamp3">{{ item.description }}</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% if articles.paginator.page_range.1 > 1 %}
				<nav aria-label="Page navigation">
					<ul class="pagination">
						{% if articles.has_previous %}
							<li>
								<a href="?page={{ articles.previous_page_number }}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
						{% endif %}
						{% if articles.number > 5 %}
							<li><a href="?page=1">1</a></li>
							{% if articles.number > 6 %}
								...
							{% endif %}
						{% endif %}
						{% for num in articles.paginator.page_range %}
							{% if num == articles.number %}
								<li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
							{% elif articles.number < 5 and num < 11 or num > articles.number|add:-5 and num < articles.number|add:5 %}
								<li><a href="?page={{ num }}">{{ num }}</a></li>
							{% endif %}
						{% endfor %}
						{% if articles.number|add:4 < articles.paginator.num_pages and articles.paginator.num_pages > 10 %}
							{% if articles.number|add:5 < articles.paginator.num_pages %}
								...
							{% endif %}
							<li><a href="?page={{ articles.paginator.num_pages }}">{{ articles.paginator.num_pages }}</a></li>
						{% endif %}
						{% if articles.has_next %}
							<li>
								<a href="?page={{ articles.next_page_number }}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			{% endif %}
		</div>
	</div>
</main>
{% include "default/include/footer.html" %}
<!-- Page Plugins -->
<script src="/static/assets/js/plugins/slick/slick.min.js"></script>

<!-- Page JS Code -->
<script>
    $(function () {
        // Init page helpers (Slick Slider plugin)
        App.initHelpers('slick');
    });
</script>
</body>
</html>