{% load cms %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>{{ site_name }}</title>
    {% include "default/include/common.html" %}
</head>
<body>
<div class="app-layout-canvas">
    <div class="app-layout-container">
        {% include "default/include/header.html" %}
        <main class="app-layout-content">
            <figure class="banner bg-img bg-inverse probootstrap-cover hidden-sm hidden-xs" data-height="300" style="background-image: url({{category_list.img.url}})">
            	<figcaption class="banner-caption">
            		<div class="container text-center">
            			<div class="display-1 m-b text-black"></div>
            		</div>
            	</figcaption>
            </figure>
			<figure class="banner bg-img bg-inverse probootstrap-cover hidden-lg hidden-md" data-height="100" style="background-image: url({{category_list.img.url}})">
				<figcaption class="banner-caption">
					<div class="container text-center">
						<div class="display-1 m-b text-black"></div>
					</div>
				</figcaption>
			</figure>
			<div class="container">
				{% with category_list.hash_id|category_list as category_list %}
					<div class="artInfo p-y-md">所在位置：<a href="/">首页</a> {% for foo in category_list %}
						> <a href="{{ foo|get_link }}">{{ foo.title }}</a>
					{% endfor %}
					</div>
				{% endwith %}
				<div class="row">
					<div class="col-lg-2">
						<ul class="nav nav-drawer m-b-lg" data-toggle="tabs">
							{% for item in category_sub %}
								<li class="nav-item{% if forloop.counter == 1 %} active{% endif %}">
									<a class="text-bold" href="#btabs-static-profile{{ item.id }}">{{ item.title }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="col-lg-10">
						<div class="tab-content" style="min-height: 400px;">
							{% for item in category_sub %}
								<div class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="btabs-static-profile{{ item.id }}">
									<div class="solid-bottom p-t-xs p-b-md">
										<h3 class="text-bold">{{ item.title }}</h3>
									</div>
									{% with item.hash_id|get_article as article_sub %}
									{% if article_sub %}
									<ul class="list-simple cms-list list-unstyled">
										{% for foo in article_sub %}
										<li class="media p-y b-b">
											{% if foo.img %}
											<div class="media-left p-r-md">
												<a href="{{ foo|get_link }}" target="_blank"><img src="{{ foo.img|resize:'300x176' }}"></a>
											</div>
											{% endif %}
											<div class="media-body">
												<a class="text-xl" href="{{ foo|get_link }}" target="_blank">{{ foo.title }}</a>
												<div class="m-t">{{ foo.description }}</div>
												<div class="artInfo m-t">
													<span class="m-r-md">浏览数： {{ foo.num }}</span>
													<span>发布：{{ foo.show_time|date:"Y-m-d" }}</span>
												</div>
											</div>
										</li>
										{% endfor %}
									</ul>
									{% else %}
									<div class="empty p-a-lg text-center bg-gray light"><i class="fa fa-file-o text-gray fa-2x"></i><p class="text-lg m-t-sm">暂无相关内容</p></div>
									{% endif %}
									{% endwith %}	
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
        </main>
        {% include "default/include/footer.html" %}
    </div>
</div>

<!-- Page Plugins -->
<script src="/static/assets/js/plugins/slick/slick.min.js"></script>

<!-- Page JS Code -->
<script>
    $(function () {
        // Init page helpers (Slick Slider plugin)
        App.initHelpers('slick');
    });
</script>
</body>
</html>