{% load cms %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{{ site_name }}</title>
    {% include "default/include/common.html" %}
</head>
<body>
{% include "default/include/header.html" %}
<main>
	<figure class="banner bg-img bg-inverse probootstrap-cover hidden-sm hidden-xs" data-height="300" style="background-image: url(/static/assets/img/photos/banner.jpg)">
		<figcaption class="banner-caption">
			<div class="container text-center">
				<div class="display-1 m-b text-black"></div>
			</div>
		</figcaption>
	</figure>
	<figure class="banner bg-img bg-inverse probootstrap-cover hidden-lg hidden-md" data-height="200" style="background-image: url(/static/assets/img/photos/banner.jpg)">
		<figcaption class="banner-caption">
			<div class="container text-center">
				<div class="text-lg m-b"></div>
			</div>
		</figcaption>
	</figure>
	<div class="container p-b-lg" id="Container">
		<div class="solid-bottom p-t-md p-b-md">
			<h3 class="text-bold">{{ intro.title }}</h3>
		</div>
		<div class="container p-y-lg">
			<div class="ContainerCon">
				{{ intro.body|safe }}
			</div>
		</div>
	</div>
</main>
{% include "default/include/footer.html" %}
</body>
</html>