{% load cms %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Document title -->
    <title>{{ site_name }}</title>
    {% include "default/include/common.html" %}
	<style>		
		.kingbox .item { 
			width: 145px;
			height: 145px;
			padding-top: 35px;
			text-align: center;
			align-items: center;
			border-radius: 50%;
			margin: auto;
		}
		.kingbox .item1{
			background: linear-gradient(0deg, #0086D0 0%, #60BFF7 100%);
		}
		.kingbox .item2{
			background: linear-gradient(0deg, #02ABC9 0%, #72E2FA 100%);
		}
			
			
		.expert .nav-tabs {
		border-bottom: 0px solid #eee;
		}

		.expert .nav-tabs>.active>a {
			background: linear-gradient(180deg, #4EC3FF 0%, #005E9E 100%);
			color: #fff !important;
			border-radius: 4px;
			border-width: 0;
		}
		
		.expert .nav-tabs>.active>a:hover {
			border-width: 0;
		}

		.expert .nav-tabs>li>a {
			padding: 8px 30px;
			border: 1px solid rgba(207, 207, 207, 1);
			background-color: #fff;
		}

		.expert .nav-tabs.round>li>a {
			border-radius: 100px !important;
		}

		.expert .nav-tabs li {
			text-align: center;
			margin-right: 10px;
			margin-bottom: 5px;
		}

		.expert {
			
		}
		.expert-item {
			padding: 20px;
			background-color: #fff;
			box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
			margin-bottom: 20px;
		}
			
		.expert-item img{ width: 86px; margin-right: 20px; }
		
		
	</style>
</head>
<body>
{% include "default/include/header.html" %}
<main>
	<!-- Slider with autoplay -->
	<div class="js-slider slider-in-dots" data-slider-dots="true" data-slider-autoplay="true" data-slider-autoplay-speed="3000">
		{% with 1|get_ads as ads %}
			{% for foo in ads %}
				<div style="text-align: center; background-color: #285aa0;">
					<img class="img-responsive" src="{{ foo.img }}" style="margin: auto;"/>
				</div>
			{% endfor %}
		{% endwith %}
	</div>
	<!-- End Slider with autoplay -->
	<!-- 金刚区 -->
	<div class="section p-y-xl">
		<div class="container">
			<div class="row kingbox">
				<div class="col-2">
					<div class="item item1 card-trans">
						<img src="/static/assets/img/misc/K-yuyue.png" />
					</div>
					<div class="text-center text-lg m-t-sm">预约挂号</div>
				</div>
				<div class="col-2">
					<div class="item item2 card-trans">
						<img src="/static/assets/img/misc/K-zhuanjia.png" />
					</div>
					<div class="text-center text-lg m-t-sm">专家团队</div>
				</div>
				<div class="col-2">
					<div class="item item1 card-trans">
						<img src="/static/assets/img/misc/K-paiban.png" />
					</div>
					<div class="text-center text-lg m-t-sm">门诊排班</div>
				</div>
				<div class="col-2">
					<div class="item item2 card-trans">
						<img src="/static/assets/img/misc/K-zhinan.png" />
					</div>
					<div class="text-center text-lg m-t-sm">就医指南</div>
				</div>
				<div class="col-2">
					<div class="item item1 card-trans">
						<img src="/static/assets/img/misc/K-tese.png" />
					</div>
					<div class="text-center text-lg m-t-sm">特色科室</div>
				</div>
				<div class="col-2">
					<div class="item item2 card-trans">
						<img src="/static/assets/img/misc/K-jiankang.png" />
					</div>
					<div class="text-center text-lg m-t-sm">健康体验</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End 金刚区 -->
	
	<!-- 新闻中心 -->
	<div class="section p-y-xl bg-gray">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<div class="bg-white p-a">
						{% with 'fWOBDSo3BV'|get_sub_article as articles %}
						<div class="js-slider" data-slider-dots="true" data-slider-autoplay="true" style="margin-bottom: 0;">
							{% with articles|get_img_article as img_articles %}
								{% for foo in img_articles %}
									{% if forloop.counter <= 5 %}
									<div class="p-show">
										<a href="{{ foo|get_link }}">
											<img class="img-responsive" src="{{ foo.img }}" />
										</a>
										<div class="section-sub m-t">
											<div class="subtit">
												<h2 class="text-xl text-cut clamp1">{{ foo.title }}</h2>
											</div>
										</div>
										<p class="text-cut clamp5">{{ foo.description }}</p>
									</div>
									{% endif %}
								{% endfor %}
							{% endwith %}
						</div>
						{% endwith %}
					</div>
				</div>
				<div class="col-6">
					<div class="bg-white p-a">					
						{% with category|get_detail:'fWXCWmN6dx' as detail %}
							<div class="section-sub">
								<div class="subtit">
									<h2 class="text-xxl text-bold">{{ detail.title }}</h2>
									<div class="more"><a class="" href="{{ detail|get_link }}">更多 >></a></div>
								</div>
							</div>
							<div class="height-1">
							{% with 'fWXCWmN6dx'|get_article:'id' as tech %}
								<ul class="list-t2">
									{% for foo in tech %}
										{% if forloop.counter <= 6 %}
											<li>
												<a href="{{ foo|get_link }}" class="text-black text-cut clamp1">{{ foo.title }}</a>
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							{% endwith %}
							</div>
						{% endwith %}
						{% with category|get_detail:'1AFREZAnqe' as detail %}
							<div class="section-sub">
								<div class="subtit">
									<h2 class="text-xxl text-bold">{{ detail.title }}</h2>
									<div class="more"><a class="" href="{{ detail|get_link }}">更多 >></a></div>
								</div>
							</div>
							<div class="height-1">
							{% with '1AFREZAnqe'|get_article:'id' as tech %}
								<ul class="list-t2">
									{% for foo in tech %}
										{% if forloop.counter <= 6 %}
											<li>
												<a href="{{ foo|get_link }}" class="text-black text-cut clamp1">{{ foo.title }}</a>
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							{% endwith %}
							</div>
						{% endwith %}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 专家团队 -->
	<div class="section expert p-y-xl" style="background: url(/static/assets/img/misc/home-bg.png) center top; background-size: cover;">
		<div class="container">
			{% with category|sub_category:'fWOBD0E4cw' as sub_cate %}
			<div class="section-tit flex justify-between">
				{% with category|get_detail:'fWOBD0E4cw' as detail %}
					<h2 class="text-sl text-white">{{ detail.title }}</h2>
				{% endwith %}
				<ul class="nav nav-tabs" data-toggle="tabs">
					<li class="active">
					    <a href="#btabs-static-home">全部</a>
					</li>
					{% for item in sub_cate %}
					    <li>
					        <a href="#btabs-static-profile{{ item.id }}">{{ item.title }}</a>
					    </li>
					{% endfor %}
				</ul>
			</div>
			
			<div class="tab-content">
				<div class="tab-pane active" id="btabs-static-home">
					<div class="row">
						{% with '推荐专家'|get_tag_article:'sort' as article_sub %}
							{% for foo in article_sub %}
								<div class="col-xs-4">
									<div class="expert-item flex" onclick="window.location.href='{{ item|get_link }}';" target="_blank">
										<img src="{{ foo.img }}" alt=""/>
										<div>
											<div class="flex align-center">
												<h3 class="m-r">{{ foo.title }}</h3> {{ foo.sub_title }}
											</div>
											<p class="text-cut clamp3">{{ foo.description }}</p>
										</div>
									</div>
								</div>
							{% endfor %}
						{% endwith %}
					</div>
				</div>
			{% for item in sub_cate %}
				<div class="tab-pane" id="btabs-static-profile{{ item.id }}">
					<div class="row">
						{% with item.hash_id|get_article:'id' as article_sub %}
							{% for foo in article_sub %}
								<div class="col-xs-4">
									<div class="expert-item flex" onclick="window.location.href='{{ item|get_link }}';" target="_blank">
										<img src="{{ foo.img }}" alt=""/>
										<div>
											<div class="flex align-center">
												<h3 class="m-r">{{ foo.title }}</h3> {{ foo.sub_title }}
											</div>
											<p class="text-cut clamp3">{{ foo.description }}</p>
										</div>
									</div>
								</div>
							{% endfor %}
						{% endwith %}
					</div>
				</div>
			{% endfor %}
			</div>
			<div class="p-t-lg text-center"><a class="btn btn-default btn-lg" href="{{ detail|get_link }}">查看全部</a></div>
			{% endwith %}
		</div>
	</div>
	
	
	
	
	
	<!-- 合作伙伴 -->
	<div class="section bg-gray">
		{% with category|get_detail:'fSty37rnuo' as detail %}
		<div class="section-subtit p-b-lg">
			<div class="subtit">
				<h2 class="text-sl">{{ detail.title }}</h2>
			</div>
			<p class="text-lg text-lighter text-gray">{{ detail.description }}</p>
		</div>
		<div class="container p-b-md hidden-sm hidden-xs">
			<div class="links js-slider text-center" data-slider-dots="true" data-slider-autoplay="true" data-slider-arrows="true" data-slider-num="5">
				{% with 'fSty37rnuo'|get_article:'id' as tech %}
					{% for foo in tech %}
						<div class="m-x">
							<div class="bg-white" style="border: #cfcfcf 1px solid; text-align: center;">
								<img class="img-responsive" style="margin: auto;" src="{{ foo.img }}"  alt="{{ foo.title }}"/>
							</div>
						</div>
					{% endfor %}
				{% endwith %}
			</div>
			<div class="text-center" style="margin-top: 60px;"><a class="btn btn-default btn-lg round" href="{{ detail|get_link }}">查看更多</a></div>
		</div>
		<div class="container hidden-lg hidden-md">
			<div class="row links">
				{% with 'fSty37rnuo'|get_article:'id' as tech %}
					{% for foo in tech %}
						<div class="col-xs-6 m-b-md">
							<div class="bg-white" style="border: #cfcfcf 1px solid; text-align: center;">
								<img class="img-responsive" style="margin: auto;" src="{{ foo.img }}"  alt="{{ foo.title }}"/>
							</div>
						</div>
					{% endfor %}
				{% endwith %}
			</div>
			<div class="p-t-lg text-center"><a class="btn btn-default btn-lg" href="{{ detail|get_link }}">查看更多</a></div>
		</div>
		{% endwith %}
	</div>
</main>
        
{% include "default/include/footer.html" %}

<!-- Page JS Code -->
<script>
    $(document).ready(function () {
        $("#news_center li:first").addClass('active');
        $("#news_content div:first").addClass('active')
    });
    $(function () {
        // Init page helpers (Slick Slider plugin)
        App.initHelpers('slick');
    });
	
	function autoScroll(obj){  
		$(obj).find("ul").animate({  
			marginTop : "-60px"  
		},500,function(){  
			$(this).css({marginTop : "0px"}).find("li:first").appendTo(this);  
		})  
	}  
	$(function(){  
		setInterval('autoScroll(".maquee")',3000);
		setInterval('autoScroll(".apple")',2000);
		  
	}) 
</script>
</body>
</html>
